@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
@theme {
  --color-primary: #08d708;
  --color-primary-dull: #3de73d;
  --color-light: #f1f5f9;
  --color-borderColor: #c4c7d2;
}
